#map {
    height: 100vh;
}

div.circle {
    background-color: rgba(215, 60, 33, 0.68);
    border-color: red;
    border-radius: 30px;
    border-style: solid;
    border-width: 0px;
    width: 30px;
    height: 30px;
}

div.circle-here {
    background-color: rgb(47, 120, 182);
    border-color: #1542c7;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    width: 30px;
    height: 30px;
}

.here-icon {
    font-size: 35px;
    color: rgb(47, 120, 182);
    margin: 8px 4px 4px;
    pointer-events: auto;
    padding: 0;
}

.new-icon {
    font-size: 35px;
    color: rgb(47, 120, 182);
    margin: 4px 4px 8px;
    pointer-events: auto;
    padding: 0;
}

.modal-button {
    pointer-events: auto;
}

.leaflet-container {
    line-height: 1;
}

.background-leaflet-buttons {
    margin: 4px;
    border-radius: 20px;

    background: linear-gradient(30deg, rgba(120, 231, 41, 0.4), rgba(7, 141, 26, 0.48));
    background-size: 200% 200%;

    -webkit-animation: backgound-leaflet-buttons-animation 30s ease infinite;
    -moz-animation: backgound-leaflet-buttons-animation 30s ease infinite;
    -o-animation: backgound-leaflet-buttons-animation 30s ease infinite;
    animation: backgound-leaflet-buttons-animation 30s ease infinite;
}

@-webkit-keyframes backgound-leaflet-buttons-animation {
    0% {
        background-position: 71% 0%
    }
    50% {
        background-position: 30% 100%
    }
    100% {
        background-position: 71% 0%
    }
}

@-moz-keyframes backgound-leaflet-buttons-animation {
    0% {
        background-position: 71% 0%
    }
    50% {
        background-position: 30% 100%
    }
    100% {
        background-position: 71% 0%
    }
}

@-o-keyframes backgound-leaflet-buttons-animation {
    0% {
        background-position: 71% 0%
    }
    50% {
        background-position: 30% 100%
    }
    100% {
        background-position: 71% 0%
    }
}

@keyframes backgound-leaflet-buttons-animation {
    0% {
        background-position: 71% 0%
    }
    50% {
        background-position: 30% 100%
    }
    100% {
        background-position: 71% 0%
    }
}