// Override default variables before the import

$primary: rgb(63, 134, 24);
$secondary: rgb(146, 146, 146);
$success: rgb(57, 144, 65);
$info: rgb(64, 209, 224);
$warning: rgb(234, 210, 53);
$danger: rgb(226, 5, 5);
$light: rgb(248, 248, 248);
$dark: rgb(0, 0, 0);

$gradient: linear-gradient(-10deg, $primary, rgba(110, 187, 23, 0.32));
$input-bg: rgb(222, 248, 217);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

html {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.container-map {
  height: 100%;
  width: 100vw;
}

#map {
  height: 100%;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100vw;
}

.App {
  height: 100%;
  width: 100vw;
}

body {
  background-image: var(--bs-gradient);
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
}

div.circle {
  background-color: rgba(215, 60, 33, 0.68);
  border-color: red;
  border-radius: 30px;
  border-style: solid;
  border-width: 0px;
  width: 30px;
  height: 30px;
}

div.circle-here {
  background-color: rgb(60, 140, 213);
  border-color: #ffffff;
  border-radius: 30px;
  border-style: solid;
  border-width: 3px;
  width: 35px;
  height: 35px;
  box-shadow: 0 0 0 40px rgba(105, 132, 196, 0.15);
}

div.highlight-dot {
  background-color: rgba(22, 101, 175, 0);
  border-color: rgba(27, 131, 226, 0);
  border-radius: 30px;
  border-style: solid;
  border-width: 0;
  width: 35px;
  height: 35px;
  box-shadow: 0 0 0 5px rgba(105, 132, 196, 0.15);
  animation: wobble 1s ease-in forwards infinite;
}

@keyframes wobble {
  0% {
    box-shadow: 0 0 0 5px rgba(105, 132, 196, 0.25);
  }
  100% {
    box-shadow: 0 0 0 90px rgba(105, 132, 196, 0.05);
  }
}

.here-icon {
  font-size: 35px;
  color: rgb(47, 120, 182);
  margin: 8px 4px 4px;
  pointer-events: auto;
  padding: 0;
}

.new-icon {
  font-size: 35px;
  color: rgb(47, 120, 182);
  margin: 4px 4px 8px;
  pointer-events: auto;
  padding: 0;
}

.modal-button {
  pointer-events: auto;
}

.logout-button {
  font-size: 35px;
  color: rgb(47, 120, 182);
  margin: 10px 4px 4px;
  pointer-events: auto;
  padding: 0;
  vertical-align: middle
}

.form-button {
  pointer-events: auto;
}

.leaflet-container {
  line-height: 1;
}

.background-leaflet-buttons {
  margin: 8px;
  border-radius: 20px;
  border: solid #ffffff;
  border-width: 2px;
  box-shadow: -4px 4px 5px 0 rgba(3, 3, 3, 0.71);

  background: linear-gradient(0deg, rgb(246, 246, 246), rgb(199, 199, 199));
  background-size: 200% 200%;

  -webkit-animation: backgound-leaflet-buttons-animation 30s ease infinite;
  -moz-animation: backgound-leaflet-buttons-animation 30s ease infinite;
  -o-animation: backgound-leaflet-buttons-animation 30s ease infinite;
  animation: backgound-leaflet-buttons-animation 30s ease infinite;
}

@-webkit-keyframes backgound-leaflet-buttons-animation {
  0% {
    background-position: 71% 0%
  }
  50% {
    background-position: 30% 100%
  }
  100% {
    background-position: 71% 0%
  }
}

@-moz-keyframes backgound-leaflet-buttons-animation {
  0% {
    background-position: 71% 0%
  }
  50% {
    background-position: 30% 100%
  }
  100% {
    background-position: 71% 0%
  }
}

@-o-keyframes backgound-leaflet-buttons-animation {
  0% {
    background-position: 71% 0%
  }
  50% {
    background-position: 30% 100%
  }
  100% {
    background-position: 71% 0%
  }
}

@keyframes backgound-leaflet-buttons-animation {
  0% {
    background-position: 71% 0%
  }
  50% {
    background-position: 30% 100%
  }
  100% {
    background-position: 71% 0%
  }
}

.login-vertical-center {
  margin-top: 100px;

}

.fill-height {
  min-height: 100vh;
}

.image-uploaded {
  width: 100%;
  max-height: 300px;
  border-radius: 10px;
}

.image-report {
  max-width: 100%;
  border-radius: 15px;
  max-height: 350px;
}

.image-report-cross {
  z-index: 3;
  position: absolute;
  transform: translate(-120%, 20%);
  width: 21px;
  height: 21px;
  color: white;
  background-color: rgba(241, 6, 36, 0.85);
  border-radius: 4px;
}

.image-report-cross-absolute {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.border-comment {
  border-style: solid;
  border-radius: 5px;
  border-color: black;
  border-width: thin;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}

.edit-icon {
  color: #6f6e6e;
  vertical-align: text-top;
}

.align-react-icon {

}

.edit-icon:hover {
  filter: drop-shadow(0 0 2px #a7a7a7) brightness(90%);
}

.delete-icon {
  color: #e72d2d;
  vertical-align: text-top;
}

.delete-icon-shadow:hover {
  filter: drop-shadow(0 0 1px rgba(231, 45, 45, 0.49)) brightness(95%);
}
