.idea/
venv/

# dependencies
/react-ui-old/node_modules
/react-ui-old/.pnp
/react-ui-old/.pnp.js

# testing
/react-ui-old/coverage

# production
/react-ui-old/build

# misc
/react-ui-old/.DS_Store
/react-ui-old/.env.local
/react-ui-old/.env.development.local
/react-ui-old/.env.test.local
/react-ui-old/.env.production.local

/react-ui-old/npm-debug.log*
/react-ui-old/yarn-debug.log*
/react-ui-old/yarn-error.log*

__pycache__/
samy/__pycache__/*

db.sqlite3

# Apple
.DS_Store

# static files
/static/admin
/static/rest_framework

aws.zip
aws_dev.zip
aws_prod.zip
aws_schaerbeek.zip

**/*.swp
