.idea/
venv/

# dependencies
/react-ui/node_modules
/react-ui/.pnp
/react-ui/.pnp.js

# testing
/react-ui/coverage

# production
/react-ui/build

# misc
/react-ui/.DS_Store
/react-ui/.env.local
/react-ui/.env.development.local
/react-ui/.env.test.local
/react-ui/.env.production.local

/react-ui/npm-debug.log*
/react-ui/yarn-debug.log*
/react-ui/yarn-error.log*

__pycache__/
samy/__pycache__/*

db.sqlite3

# Apple
.DS_Store

# static files
/static/admin
/static/rest_framework

aws.zip
aws_dev.zip
aws_prod.zip

**/*.swp
